body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(135deg, #f06, #ffba00);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    display: block;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    color: #ffba00;
    margin: 10px 0;
    /* background: linear-gradient(90deg, rgba(9, 168, 104, 1) 0%, rgba(34, 193, 195, 1) 100%); */
    /* -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    font-family: 'Trebuchet MS', sans-serif;
}

header p {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;

}

select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    background-color: #f9f9f9;
    transition: border 0.3s ease;
    color: #333;

}

select:focus {
    border-color: #ffba00;
    outline: none;
}

#villageInfoContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* display: none; Hidden by default */
    color: #333;

}

#villageInfoContainer h2 {
    margin-top: 0;
    color: #ffba00;
}

#villageInfoContainer p {
    margin: 5px 0;
    line-height: 1.5;
}

.hidden {
    display: none;
}

@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    h1 {
        font-size: 1.8em;
    }
}
